body{
    background: #171a1f;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}

.system {
    display: flex;
    flex-direction: row;
    justify-content: left;
    
}
h1.system {
    text-align: center;
}
.sysinfo, .sysstat, .outputs{
    margin: 1.2em;
}
.outputs{
    justify-content: left;
    text-align: left;
}

.menu{
    display: flex;
    flex-direction: row;
}
.menuitem {
    margin: 1em;
}

.menuitem a.button{
    background-color: rgb(219, 157, 70);
    width: fit-content;
    padding: 0.75em;
    color: #fff;
    font-size: 1em;
    text-decoration: none;

}


.container{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 90vw;
    line-height: 1em;
}

.Console {
    background: #2f3135;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    padding: 10px;
    border-radius: 15px;
    width: 90vw;
    height: 65vw;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
}

.faderwing{
    /*background: #5b6375;*/
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    padding: 10px;
    border-radius: 10px;
    width: calc(55vw - 5px);
    height: calc(65vw - 20px);
    overflow-y: hidden;
    overflow-x: hidden;
    margin-right: 10px;
}
.commandwing{
    /*background: #5b6375;*/
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    padding: 10px;
    border-radius: 10px;
    width: calc(35vw - 5px);
    height: calc(65vw - 20px);
    overflow-y: hidden;
    overflow-x: hidden;
}

.button-bank{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.buttonblock{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1vw;
    margin-left: 1vw;
    margin-right: 1vw;
}
.buttonblock#vertical{
    flex-direction: column;
    
}
.button-wrapper{
    width: 3vw;
    height: 3vw;
    position: relative;
    margin-left: 0.3vw;
    margin-right: 0.3vw;
}
.button-wrapper#vertical{
    width: 3vw;
    height: 3vw;
    position: relative;
    margin-top: 0.3vw;
    margin-bottom: 0.3vw;
}
.button {
    width: 3vw;
    height: 3vw;
    background: #222222;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-align: center;

}

.spacer {
    height: 20vw;
}

.controlsection{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-top: 1vw;
    margin-left: 1vw;
    margin-right: 1vw;
}
.controlsection#top {
    height: 20vw;
}
.controlsection#display {
    height: 8vw;
    background-color: #000000;
    border-radius: 5px;
    margin-top: 4vw;
}

.stack {
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.stack#minusmargin{
    margin-left: -1vw;
}

.button-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}

#sequencer2 {
    margin-top: -21vw;
    margin-right: 1vw;
}

#submaster {
    margin-left: -1vw;
}