body{
    background: #171a1f;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 90vw;
    line-height: 1em;
}

.Console {
    background: #2f3135;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    padding: 10px;
    border-radius: 15px;
    width: 90vw;
    height: 65vw;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
}

.faderwing{
    background: #5b6375;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    width: calc(55vw - 5px);
    height: calc(65vw - 20px);
    overflow-y: hidden;
    overflow-x: hidden;
    margin-right: 10px;
}
.commandwing{
    background: #5b6375;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    width: calc(35vw - 5px);
    height: calc(65vw - 20px);
    overflow-y: hidden;
    overflow-x: hidden;
}

.button-bank{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.buttonblock{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
}
.buttonblock#vertical{
    flex-direction: column;
    
}
.button-wrapper{
    width: 3vw;
    height: 3vw;
    position: relative;
    margin-left: 0.2em;
    margin-right: 0.2em;
}
.button-wrapper#vertical{
    width: 3vw;
    height: 3vw;
    position: relative;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}
.button {
    width: 3vw;
    height: 3vw;
    background: #222222;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-align: center;

}

.spacer {
    height: 18vw;
}

.controlsection{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

.stack {
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.stack#minusmargin{
    margin-left: -1rem;
}

.button-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}