input.fader {
  margin: auto;
  -webkit-appearance: none;
  position: relative;
  overflow: hidden;
  height: 3vw;
  width: 16vw;
  cursor: pointer;
  transform: rotate(-90deg);
  transform-origin: left top;
  margin-top: 16vw;
  border-radius: 5px;
  background: #222222;
  color: #fff;
}
.fader::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1vw;
  height: 3vw;
  background-color: rgb(156, 156, 156);
  overflow: visible;
  cursor: pointer;
}

.fader-wrapper{
  width: 3vw;
  height: 16vw;
  position: relative;
  margin-left: 0.3vw;
  margin-right: 0.3vw;
}

.faderblock {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1vw;
}

.bank {
  display: flex;
  flex-direction: row;
  justify-content: center;
}