body{
    background: #171a1f;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}

.system {
    display: flex;
    flex-direction: row;
    justify-content: left;
    
}
h1.system {
    text-align: center;
}
.sysinfo, .sysstat, .outputs{
    margin: 1.2em;
}
.outputs{
    justify-content: left;
    text-align: left;
}

.menu{
    display: flex;
    flex-direction: row;
}
.menuitem {
    margin: 1em;
}

.menuitem a.button{
    background-color: rgb(219, 157, 70);
    width: fit-content;
    padding: 0.75em;
    color: #fff;
    font-size: 1em;
    text-decoration: none;

}


.container{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 90vw;
    line-height: 1em;
}

.Console {
    background: #2f3135;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    padding: 10px;
    border-radius: 15px;
    width: 90vw;
    height: 65vw;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
}

.faderwing{
    /*background: #5b6375;*/
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    padding: 10px;
    border-radius: 10px;
    width: calc(55vw - 5px);
    height: calc(65vw - 20px);
    overflow-y: hidden;
    overflow-x: hidden;
    margin-right: 10px;
}
.commandwing{
    /*background: #5b6375;*/
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    padding: 10px;
    border-radius: 10px;
    width: calc(35vw - 5px);
    height: calc(65vw - 20px);
    overflow-y: hidden;
    overflow-x: hidden;
}

.button-bank{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.buttonblock{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1vw;
    margin-left: 1vw;
    margin-right: 1vw;
}
.buttonblock#vertical{
    flex-direction: column;
    
}
.button-wrapper{
    width: 3vw;
    height: 3vw;
    position: relative;
    margin-left: 0.3vw;
    margin-right: 0.3vw;
}
.button-wrapper#vertical{
    width: 3vw;
    height: 3vw;
    position: relative;
    margin-top: 0.3vw;
    margin-bottom: 0.3vw;
}
.button {
    width: 3vw;
    height: 3vw;
    background: #222222;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-align: center;

}

.spacer {
    height: 20vw;
}

.controlsection{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-top: 1vw;
    margin-left: 1vw;
    margin-right: 1vw;
}
.controlsection#top {
    height: 20vw;
}
.controlsection#display {
    height: 8vw;
    background-color: #000000;
    border-radius: 5px;
    margin-top: 4vw;
}

.stack {
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.stack#minusmargin{
    margin-left: -1vw;
}

.button-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}

#sequencer2 {
    margin-top: -21vw;
    margin-right: 1vw;
}

#submaster {
    margin-left: -1vw;
}


.displaygrid{
    position: relative;
    height: 7vw;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: 2vw 3vw 2vw;
    gap: 8px;
    margin: 0.5vw;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    overflow: hidden;
}

.displaygroup1{
    grid-column: span 2 / span 2;
    height: 2vw;
}
.displaygroup2 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 2;
    height: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: bottom;
}
.displaygroup2 p{
    text-align:center;
    line-height: 0.1vw;
}
.displaygroup3 {
    grid-column-start: 3;
    grid-row-start: 1;
    height: 2vw;
    display: flex;
    flex-direction: column;
}
.displaygroup3 p{
    text-align: left;
    font-stretch: ultra-condensed;
    font-weight: 100;
    font-style: normal;
    font-size: 0.45vw;
    width: 160%;
}
.displaygroup3 p:first-child{
    margin-bottom: -0.4vw;
}
.displaygroup4{
    grid-column-start: 3;
    grid-row-start: 2;
}
.displaygroup5{
    grid-column-start: 3;
    grid-row-start: 3;
}
.displaygroup6{
    grid-row: span 3 / span 3;
    grid-column-start: 4;
    grid-row-start: 1;
}
.displaygroup7{
    grid-column: span 3 / span 3;
    grid-column-start: 5;
    grid-row-start: 1;
}
.displaygroup8{
    grid-column-start: 5;
    grid-row-start: 2;
}
.displaygroup9{
    grid-column-start: 6;
    grid-row-start: 2;
}
.displaygroup10{
    grid-column-start: 7;
    grid-row-start: 2;
}
.displaygroup11{
    grid-column: span 2 / span 2;
    grid-column-start: 5;
    grid-row-start: 3;
}
.displaygroup12{
    grid-column-start: 7;
    grid-row-start: 3;
}
.displaygroup13{
    grid-column-start: 8;
    grid-row-start: 3;
}
.displaygroup14{
    grid-column-start: 8;
    grid-row-start: 2;
}
.displaygroup15{
    grid-column-start: 8;
    grid-row-start: 1;
}
.displaygroup16{
    grid-column: span 2 / span 2;
    grid-column-start: 9;
    grid-row-start: 1;
}
.displaygroup17{
    grid-column: span 2 / span 2;
    grid-column-start: 9;
    grid-row-start: 3;
}
.displaygroup18{
    grid-column-start: 9;
    grid-row-start: 2;
}
.displaygroup19{
    grid-column-start: 10;
    grid-row-start: 2;
}
.displaygroup20{
    grid-row: span 3 / span 3;
    grid-column-start: 11;
    grid-row-start: 1;
}
.displaygroup21{
    grid-row: span 3 / span 3;
    grid-column-start: 12;
    grid-row-start: 1;
    display: flex;
    flex-direction: column;

}
.displaygroup21 .universes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-evenly;
}
.displaygroup21 .labels{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-evenly;
    margin-top: -0.5vw;
}
.displaygroup21 .labels p{
    margin-left: 0.5vw;
}
.displaygroup22{
    grid-column-start: 12;
    grid-row-start: 2;
}
.displaygroup23{
    grid-row: span 2 / span 2;
    grid-column-start: 12;
    grid-row-start: 3;
}
.displaygroup24{
    grid-column-start: 13;
    grid-row-start: 2;
}
.displaygroup25{
    grid-column-start: 14;
    grid-row-start: 2;
}
.displaygroup26{
    grid-column-start: 14;
    grid-row-start: 3;
}